<!-- Hero Section -->
<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: #a13434;">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">Pokemón API WORLD<i class="bi bi-robot"></i> </h1>
        <p class="lead mb-4">En esta sección sabrás de los POKEMONES</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media1.tenor.com/m/ah0v6be7Um8AAAAd/twerking-pokemon.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>





  
  <!-- Footer -->
  <footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <p class="mb-0">
      ---->  © este proyecto fue desarrollado por Bagui Carlos, mi primera API en Angular.
      </p>
    </div>
  </footer>
  